.halls-container {
  display: grid !important;
  grid-template-columns:  repeat( auto-fill, minmax(300px,1fr)  ) !important;
  gap: 1rem; 
  align-items: stretch !important;  
  margin: 2rem;
  padding: 2rem;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2rem;
  align-items: stretch;
  align-content: stretch; */
}
