/* === Owner Profile Card === */
.owner-card {
  background-color: #ffffff;
  border-radius: 16px;
  /* border: 1px solid #9D735B; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.owner-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.owner-card h3 {
  font-family: "Poppins", sans-serif;
  margin: 3px 0;
  color: #825e39;
}

.owner-card p {
  color: #835d37;
  font-size: 0.9rem;
  margin: 0;
}

.edit-btn {
  margin-top: 5px;
  background-color: #9D735B;
  border: none;
  color: white;
  padding: 4px 14px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.edit-btn:hover {
  background-color: #c49a6c;
}

.owner-card .rate {
  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  gap: 2px;
  font-size: 1.1rem;
}
