.popup-overlay {
  position: fixed;
  /* height: 100%; */
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.popup input[type="text"],
.popup input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between !important;
  margin-top: 15px;
  /* background-color: aqua; */
  width: 100%;
}

/* .save-btn {
  background: #a97d5d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
}

.cancel-btn {
  background: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
} */
.input {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
  width: 100% !important;
  border-radius: 10px;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #a97d5d;
}


.save-btn {
  margin-top: 5px;
  background-color: #9D735B;
  border: none;
  color: white;
  padding: 0.8rem;
  font-weight: 500;
  font-size: large;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

/* .edit-btn:hover {
  background-color: #c49a6c;
} */

.save-btn:hover {
  background-color: #7a5236 !important;
  scale: 1.05;
}

.save-btn:active {
  background-color: #5e3e27 !important;
  scale: 0.95;
}


.cancel-btn {
  margin-top: 5px;
  background-color: white;
  border: 1px solid #9D735B;
  color: #9D735B;
  padding: 0.8rem;
  font-weight: 500;
  font-size: large;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

/* .edit-btn:hover {
  background-color: #c49a6c;
} */

.cancel-btn:hover {
  /* background-color: #7a5236 !important; */
  scale: 1.05;
}

.cancel-btn:active {
  /* background-color: #5e3e27 !important; */
  scale: 0.95;
}