/* wrapper centers the group on the page */
.card-group-wrapper {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
  padding: 40px 16px 70px 16px;
  background: white;

  
}

/* the blue outlined box (rounded, thin shadow and blue border) */
.card-group {
  display: flex;
  gap: 10px;                 /* space between cards */
  padding: 18px;             /* spacing inside the blue box */
  border-radius: 8px;

  /* box-shadow: 0 6px 18px rgba(0,0,0,0.06); */
  background: white;
  max-width: 1100px;         /* control width */
  width: 100%;
  /* box-sizing: border-box; */

}


