.webname2 {

    position: relative;
    color: #9D735B;
    font-style: bold;
    font-size: 5mm;
    margin-bottom: 35px;
}

.services2{
    position: relative;
    color: black;
    font-style: bold;
    font-size: 10mm;
}

/* .wed{
    padding: 300px 0px;
} */


.weddingtablee{
    padding-top: 50px;
    padding-left: 24px;
    padding-bottom: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* display: grid !important; */
    grid-template-columns: repeat(auto-fill,minmax(310px,1fr)) !important;
    /* align-content: stretch; */



}