.onecard{
    margin: 20px;
    /* background-color: black; */
    border-radius: 30px;
}

.fullname{
    color: #9D735B;
    font-weight: bold;
}
.aboutusall{
    
    /* display: flex; */
}
.weddingtablee{
    display: flex;
    flex-wrap: wrap;

}

